body{
    display: flex;
    justify-content: center;
}
div{

    display: flex;
    border-style: solid;
    border-width: 1px;
}

#calculator{
    height: 700px;
    aspect-ratio: 0.75;
    flex-direction: column;
}
#display{
    height: 100px;
    font-size: 70px;
    font-family: monospace;
    align-items: center;
    justify-content: end;
    padding-left: 15px; 
    padding-right: 15px; 
}
.container{
    flex-direction: column;
    height: 700px;
}
.buttonContainer{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 200px;
    flex-grow: 1;
}

.blank{
    background-color: white;
    border-style: none;
}
button{
    display:flex;
    margin: 10px;
    height: 100px;
    width:  100px;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 70px;
    justify-content: center;
    align-items: center;
}

.specialButtonContainer{
    display:flex;
    flex-shrink: 1;
    font-size: 7vh;
    padding-bottom: 0px;

}


.numberButton{
    color:blue
}

.specialButton{
    margin-bottom: 0px;
}